@import "tailwindcss";
@import "@nuxt/ui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS below if needed */


html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 5rem; equals ~80px */
}